/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #001F3F;
}

.error{
    background-color: #F95454;
    color: white;
    display: block;
    text-align: left;
    width: 100%;
    padding: 7px;
    font-size: 13.5px;
    box-sizing: border-box;
    border: 1px solid ;
    border-radius: 7px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
	text-align: left;
    color: black;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.fpassword {
    text-align: left;
    text-decoration: none;
}

#rpassword {
    text-align: left;
    font-size: 15px;
    color: rgb(65, 65, 65);
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #001F3F;
    width: 100%;
    font-size: 16px;
}	

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
